
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* oscurece la iamgen de fondo del header */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/ba1.jpg);
    min-height: 90vh;
}
.card{
   background-color: transparent;
} 
/* color de fondo boton enviar del formulario */
.enviar{
  background-color:  rgba(139, 201, 47, 0.979);
}
.charla /* color y forma linea link charla ignite */
{
  border-bottom:2px dotted #000000;
  text-decoration:none;
}